body {
  
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha os itens ao centro */
    align-items: center; /* Alinha os itens ao centro */
    height: 100vh; /* Garante que o conteúdo ocupe a altura total da tela */
    margin:0; /* Remove qualquer margem padrão */
}

.titulo-principal, .fuso-principal, #relogio {
    text-align: center;
    color: brown;
    font-family: 'Honk', sans-serif;
}

#relogio {
    font-family: 'Honk', sans-serif;
    color: brown;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo dentro do relógio */
    align-items: center; /* Centraliza o conteúdo dentro do relógio */
    border-color: yellow;
    font-size: 50px;
    box-shadow: 0 0 0 2px rgb(207, 114, 114); /* Segunda borda (sombra externa) */
}

.fuso-principal {
    font-family: 'Honk', sans-serif;
    margin-bottom: 20px; /* Adiciona um espaço entre o fuso horário e o relógio */
}

#fusoHorario{
    font-family: 'Honk', sans-serif;


}
